{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    {% for group, count in all_groups %}
        {% if forloop.counter0|divisibleby:"3" %}
        <div class="row" style="position:relative">
        {% endif %}
            <div class="span4 well">
                <center>
                    <strong>{{group.name}}<br /></strong> ({{count}}<i> people</i>)
                </center>
                <center>
                    <a href="/quests/group/{{group.id}}/"><img src="{{group.avatar}}" style="height: 300px;" ></img></a>
                </center><br />
                <div class="row">
                    <center>
                        <a href="/quests/user/group/join/{{group.id}}/"><button class="btn btn-success" {% if group.id in group_id %}disabled{% endif %}>Join</button></a>
                        {# <button class="btn btn-danger">Decline</button> #}
                    </center>
                </div><br><br>
                <p>
                {{group.description}}
                </p>
            </div>  
{% if forloop.counter == all_groups|length %}
 <div class="span4 well">
    Looking for something not on this list? Make you own group and invite your friends!

<form action="/quests/group/add_group/" method="POST">
    {% csrf_token %}
<div class="control-group">
  <label class="control-label" for="inpueName">Group Name</label>
    <div class="controls">
      <input type="text" id="inputName" name="inputName" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Group Description</label>
    <div class="controls">
      <input id="inputDescription" name="inputDescription" placeholder="Descripton">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPicture">Picture</label>
    <div class="controls">
      <input id="inputPicture" name="inputPicture" placeholder="Picture">
    </div>
  </div>
  <center><button type="submit" class="btn btn-primary">Make New Team</button> </center>
</form>
</div>
        {% endif %}
        {% if forloop.counter|divisibleby:"3" %}

        </div>

        {% endif %}

    {% endfor %}

</div>



{% endblock %}