{% extends "base.html" %}

{% block style %} <style>

.ribbon {
   width: 589px;
   position: absolute;
   text-align: center;
   font-size: 23px!important;
   background: #4cd4b9;
   background: -webkit-gradient(linear, left top, left bottom, from(#4cd4b9), to(#2c37ab));
   background: -webkit-linear-gradient(top, #4cd4b9, #2c37ab);
   background: -moz-linear-gradient(top, #4cd4b9, #2c37ab);
   background: -ms-linear-gradient(top, #4cd4b9, #2c37ab);
   background: -o-linear-gradient(top, #4cd4b9, #2c37ab);
   background-image: -ms-linear-gradient(top, #4cd4b9 0%, #2c37ab 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 25px!important;
   color: #faf2f7;
   text-shadow: #000000 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #3aa2c2;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #19264d transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

/*DARKEN*/
.brighten img {
  -webkit-filter: brightness(-65%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.brighten img:hover {
  -webkit-filter: brightness(0%);
}

</style> 
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span2 offset0">
            <img class="img-rounded pull-left" src="{{additions.avatar}}"><br />
              <div class="row-fluid">
    </div>
        </div>
        <div class="span10">
            <div class="progress progress-striped active">
                <div class="bar" style="width: {{ blue_percent }}%;">{{additions.rank.name}}</div>
                <div class="bar bar-warning" style="width:{{yellow_percent}}%"></div>
            </div>
            <center><div class="ribbon offset2"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>Overview for {{user.first_name}} {{user.last_name}}</h1></strong><div class="ribbon-stitches-bottom"></div></div><br><br><br></center><br><br><br> 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date Started</th>
                        <th style="width:200">Quest</th>
                        <th style="width:250">Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in active_quests %}
                    <tr>
                        <td>{{quest.started}}</td>
                        <td>{{quest.quest}}</td>
                        <td>{{quest.quest.description}}</td>
                        <td><a href="/quests/user/quest/finish/{{quest.quest.id}}"><button class="btn btn-success"><i class="icon-ok-circle"></i> Finish</button></a></td>
                        <td><a href="/quests/user/quest/cancel/{{quest.quest.id}}"><button class="btn btn-warning"><i class="icon-remove"></i> Cancel</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <b><center>{{user.first_name}} {{user.last_name}} currently competing against: </center></b>
            {% for battle in battles %}
            <div class="brighten pic span2 {% if forloop.first %}   {%endif%}"><center>{{battle.user.first_name}} {{battle.user.last_name}}<br />
            <a href="/quests/user/{{battle.user.id}}/"><img class="img-circle" src="{{battle.avatar}}" style="height:140px"></img></a></center></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
