{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="row">
        <center><h2>{{group.name}}</h2></center>
    </div>
    <div class="row">
        <center><img src="{{group.avatar}}"></img></center>
    </div>
    <hr>
    <div class="row">
        <div class="span2 offset2">
            <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">{{members|length}} People</button>
        </div>
        <div class="span2">
            <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">{{total_points}} Points</button>
        </div>
        <div class="span2">
            <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">{{average_points}} Average Points</button>
        </div>
        <div class="span2">
            <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">{{total_quests}} Total Quests</button>
        </div>
    </div>
    <div class="row">
        <p><center><i><h4>{{group.description}}</h4></i></center></p>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:200px"></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
                <th>Quests</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for user in members %}
            <tr>
                <td><center><img src="{{user.avatar}}" style="height:140px"></center></img></td>
                <td>{{user.user.first_name}}</td>
                <td>{{user.user.last_name}}</td>
                <td>{{user.points}}</td>
                <td>{{user.completed}}</td>
                <td>{{user.rank.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}