{% extends "base.html" %}

{% block leaderboard %}class="active"{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="row">
        <center><h3>BALLERS</h3></center>
    </div>
    <div class="row">
        <div class="span2">
            {% for quest in quests %}
            <div>
            <a href="/quests/quest/{{quest.id}}/"><img src="{{quest.image}}"></img></a>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="span10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:10px">Rank</th>
                        <th style="width:200px"></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Points</th>
                        <th>Quests</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in board %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><center><img src="{{user.avatar}}" style="height:80px;width:80px"></center></img></td>
                        <td>{{user.user.first_name}}</td>
                        <td>{{user.user.last_name}}</td>
                        <td>{{user.points}}</td>
                        <td>{{user.completed}}</td>
                        <td>{{user.rank.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}