{% extends "base.html" %}

{% block about %}class="active"{% endblock %}

{% block content %}


<b>WHO WE ARE</b>

<br><br><br><Br>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <center><img class="http://i.imgur.com/0KA59.jpg" src="http://i.imgur.com/0KA59.jpg" style="height: 249px"></center>
          <center><h2>Peter Yao</h2></center>
          <p><center>Peter Yao is a 4th year Computer Science major at UC Davis. He is now 50% B12, 50% human. When he's not programming, he's watching competitive StarCraft II, eating soondubu, or indulging in a wide variety of ramen. </p> </center>
          
        </div><!-- /.span4 -->
        <div class="span4">
          <center><img class="http://i.imgur.com/NWFyh.jpg" src="http://i.imgur.com/NWFyh.jpg/140x140" style ="height:249px"></center>
          <h2><center>Maria Yu</h2></center>
          <p> <center>  Maria Yu is a third year Computer Science major at UC Davis. Want to hear my dubstep joke?</p> </center>
        </div><!-- /.span4 -->
        <div class="span4">
          <center><img class="http://i.imgur.com/nH3fE.jpg" src="http://i.imgur.com/nH3fE.jpg/140x140" style="height:249px"></center>
          <center><h2>Garrett Lew</h2></center>
          <p><center> Garrett Lew is a 4th year Computer Science major at UC Davis. When he's not programming, he's practicing kendo or brushing up on his Japanese/Korean. </p></center>	

        </div><!-- /.span4 -->
      </div><!-- /.row -->


        </div><!-- /.span4 -->
        
       
        
      </div><!-- /.row -->

      <br><Br><Br><br>
<center><img class="" src="http://i.imgur.com/xzbfa.jpg" style="height: 249px">
<img class="" src="http://i.imgur.com/An9ZD.jpg" style="height: 249px"><br><br>
<img class="" src="http://i.imgur.com/hkrXX.jpg" style="height: 249px">
<img class="" src="http://i.imgur.com/7fzzG.jpg" style="height: 249px"><br><br>
<img class="" src="http://i.imgur.com/6XRrc.jpg" style="height: 249px">
<img class="p" src="http://i.imgur.com/llnuB.jpg" style="height: 249px"><br><br>








      <br><br><br><br><br><br><br>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Life Quest 2012, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

{% endblock %}


