{% extends "base.html" %}

{% block content %}
<div class="fluid-row">
    <div class="span3">
        <center>
            <strong>{{quest.title}}<br /></strong> ({{quest.point_value}}<i> pts)</i>
        </center>
        <center>
            <img src="{{quest.image}}" style="height: 300px;" ></img>
        </center><br />
        <div class="row">
        <center>
            <a href="/quests/user/quest/accept/{{quest.id}}"><button class="btn btn-success">Accept</button></a>
            {# <button class="btn btn-danger">Decline</button> #}
        </center>
        </div><br><br>
        <p>
        {{quest.description}}
        </p>
    </div>  
    <div class="span8">
        {% if completed|length == 0 %}
        <center><h2>No one has finished, be the first!</h2></center>
        {% else %}
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Date Completed</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User</th>
                    <th>Proof</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for person, additional in completed %}
                <tr>
                <td>{{person.completed}}</td>
                <td>{{person.user.first_name}}</td>
                <td>{{person.user.last_name}}</td>
                <td><img src="{{additional.avatar}}" style="height:80px; width:80px"></img></td>
                <td><img src="{{person.image}}" style="height:80px; width:80px"></img></td>
                <td><button class="btn btn-warning">Challenge</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/alertify.js"></script>
{% endblock %}