{% extends "base.html" %}

{% block quest %}class="active"{% endblock %}

{% block content %}
<div class="row-fluid">
    {% for quest in quest %}
        {% if forloop.counter0|divisibleby:"3" %}
        <div class="row" style="position:relative">
        {% endif %}
            <div class="span4 well">
                <center>
                    <strong>{{quest.title}}<br /></strong> ({{quest.point_value}}<i> pts)</i>
                </center>
                <center>
                    <a href="/quest/{{quest.id}}/"><img src="{{quest.image}}" style="height: 300px;" ></img></a>
                </center><br />
                <div class="row">
                    <center>
                        <a href="/user/quest/accept/{{quest.id}}/"><button class="btn btn-success" {% if quest.id in user_quests %}disabled{% endif %}>Accept</button></a>
                        {# <button class="btn btn-danger">Decline</button> #}
                    </center>
                </div><br><br>
                <p>
                {{quest.description}}
                </p>

            </div>  
        {% if forloop.counter|divisibleby:"3" %}
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>
$('.well').css({
    'height': $('.well').height() + 60
});
</script>
{% endblock %}